body{
    background-color:rgb(110,90,38);
    margin: 0;
    padding: 0;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery img {
    width: 170px;
    height: 200px;
    margin: 10px;
    border: 5px double #000;
}
.gallery img:hover{
    filter: brightness(1.2);
}

header {
    background-color: rgb(60, 50, 24);
    color: #fff;
    padding: 7px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
}

.logo img {
    width: 45px;
    transition: width 0.3s ease;
}
.logo img:hover {
    width: 50px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}
nav li :hover{
    color:#665555;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

footer {
    color: #dae3e7;
    font: 10px 'Courier New', Courier, monospace;
    text-align: center;

    width: 100%;
}
