body {
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
form {
    max-width: 400px;
    margin: 0 auto;
}
h2{
    font-family: cursive;
    text-align: center;
}
label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    font-family:cursive;
}

input[type="text"],
input[type="password"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: cursive;

}
input[type="submit"]:hover {
    background-color: #0056b3;
}
